.Button
  font-size 16px
  font-weight 800
  text-align center
  color #fff
  border-radius 4px
  padding 12px 25px
  text-transform uppercase
  text-decoration none
  display inline-block
  transition .12s all ease-in-out
  appearance none
  &--primary
    background-color #3b8070
    border solid 1px #3b8070
    &:hover,
    &:focus
      background-color darken(#3b8070, 20%)
      border-color darken(#3b8070, 20%)
  &--secondary
    background-color #35495e
    border solid 1px #35495e
    &:hover,
    &:focus
      background-color darken(#35495e, 20%)
      border-color darken(#35495e, 20%)
